.nav-wrapper {
  width: 1013px;
  height: 23px;
  display: flex;
  justify-content: space-between;
}
.nav-item {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #2c4776;
  text-decoration: none;
}
.nav-item:hover {
  color: #0989ff;
}
