.form-container {
  height: 641px;
  width: 1980px;
  background: linear-gradient(
      rgba(65, 83, 115, 0.8) 100%,
      rgba(65, 83, 115, 0.8) 100%
    ),
    url("../assets/images/formbg.svg");

  background-color: rgba(65, 83, 115, 0.8);
  display: flex;
  justify-content: center;
  padding-top: 69px;
  margin-bottom: 118px;
}
.form-content {
  height: 524px;
  width: 1149px;
  background: rgba(255, 255, 255, 0.2);
  border: 2px solid #c2c2c2;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 58px;
}
.form-wrapper-item {
  width: 884px;
  height: 210px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.form-title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 50px;
  line-height: 111.69%;
  color: #fff;
}
.form-desc {
  text-align: center;
  color: #ffffff;
  width: 740px;
  margin: 24px 0 36px 0;
}
.form-inputs {
  height: 135px;
  width: 884px;
  display: grid;
  gap: 15px;
  grid-template-columns: auto auto;
  margin-bottom: 15px;
}
.email-input {
  order: 2;
}

.form-appeal-text {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  color: #fcfcfc;
  width: 494px;
}
.form-btn {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 38px;
  color: #ffffff;
  background: rgba(255, 255, 255, 0.2);
  border: 2px solid #c2c2c2;
  border-radius: 10px;
  width: 242px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-btn::after {
  content: none;
}
.form-btn:hover {
  background: rgba(255, 255, 255, 0.4);
}

@media screen and (max-width: 600px) {
  .form-container {
    height: 614px;
    width: 320px;
    background: linear-gradient(
        rgba(65, 83, 115, 0.8) 100%,
        rgba(65, 83, 115, 0.8) 100%
      ),
      url("../assets/images/formbg_mobiile.svg");

    background-color: rgba(65, 83, 115, 0.8);
    display: flex;
    justify-content: center;
    padding-top: 32px;
    margin-bottom: 41px;
  }
  .form-content {
    height: 486px;
    width: 260px;
    background: none;
    border: none;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0;
  }
  .form-wrapper-item {
    width: 260px;
    height: 391px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .form-title {
    font-weight: 900;
    font-size: 24px;
    width: 280px;
    text-align: center;
  }
  .form-desc {
    text-align: center;
    color: #ffffff;
    width: 260px;
    margin: 15px 0 20px 0;
  }
  .form-inputs {
    height: 265px;
    width: 260px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 21px;
  }
  .email-input {
    order: 0;
  }

  .form-appeal-text {
    font-size: 11px;
    line-height: 20px;
    width: 260px;
    order: 3;
    text-align: justify;
  }
  .form-btn {
    font-size: 14px;
    width: 260px;
    height: 50px;
    display: flex;
    margin-bottom: 15px;
  }
  .form-btn::after {
    content: none;
  }
  .form-btn:hover {
    background: rgba(255, 255, 255, 0.4);
  }
}
