* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.section-desc {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 38px;
  color: #3f3e3e;
}

.section-subtitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 111.69%;
  color: #b0b0b0;
}

.section-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 50px;
  line-height: 111.69%;
  align-items: center;
  text-transform: uppercase;
  color: #2c4776;
}
